/* CSS Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: inherit;
  }

/* Recipe Page */
/*Fonts*/
  @font-face {
  font-family: 'Young Serif';
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

/*Custom Variables*/
:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
    --ff-young-serif: 'Young Serif', serif;
    --ff-outfit: 'Outfit', sans-serif;
    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

/*Styles*/

.recipe p {
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: var(--stone100);
}

.recipe {
    font-family: var(--ff-outfit);
    color: var(--stone600);
    background-color: var(--white);
    max-width: 750px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 40px;
}

.recipe hr {
    border: none;
    height: 1px;
    background-color: var(--stone150);
    margin: 15px 10px 10px;
}

.recipe-image {
    max-width: 650px;
    border-radius: 10px;
    margin-bottom: 40px;
    align-self: center;
}

.recipe h1 {
    font-family: var(--ff-young-serif);
    font-weight: var(--fw-normal);
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--stone900);
}

.recipe-preparation {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    line-height: 2;
    background-color: var(--rose50);
}

.recipe-preparation > ul {
    margin: 0;
    padding: 0;
}

.recipe-preparation h3 {
    color: var(--rose800);
}

.recipe-preparation ul {
    list-style: inside;
    margin-left: 10px;
    font-size: 14px;
}

.recipe-preparation li::marker {
    font-size: 0.65em;
    color: var(--brown800);
}

.recipe-preparation strong {
    padding-left: 15px;
}

.recipe h2 {
    font-family: var(--ff-young-serif);
    font-weight: var(--fw-normal);
    font-size: 1.7rem;
    margin: 20px 0;
    color: var(--brown800);
}

.recipe-ingredients ul {
    margin-left: 25px;
    margin-bottom: 25px;
}

.recipe-ingredients ul li {
    padding-left: 15px;
    font-size: 14px;
    line-height: 2;
}

.recipe-ingredients ul li::marker {
    font-size: 0.65em;
    color: var(--brown800);
}

.recipe-instructions ol {
    margin-left: 25px;
    margin-bottom: 25px;
    line-height: 2;
    font-size: 14px;
}

.recipe-instructions ol li {
    padding-left: 15px;
}

.recipe-instructions ol li::marker {
    color: var(--brown800);
    font-weight: var(--fw-bold);
}

.recipe-nutrition table {
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

.recipe-nutrition table th {
    font-weight: var(--fw-normal);
    padding: 10px;
    font-size: 15px;
}

.recipe-nutrition table td {
    padding: 10px;
    color: var(--brown800);
    font-weight: var(--fw-semi-bold);
}

.recipe-nutrition table tr:not(:last-child) * {
    border-bottom: 1px solid var(--stone150);
}